/* .toolbar {
  display: flex;
  position: absolute;
  height: 60px;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
} */

.header-toolbar {
  display: flex;
  position: relative;
  justify-content: space-between;
}

.spacer {
  flex: 1;
}

.redditIcon {
  height: 32px;
  width: 32px;
  margin: 0 8px 0 0;
}

#skip-link {
  position: absolute;
}

#skip-link a {
  color: transparent;
}

#skip-link + a {
  align-items: center;
  padding: 0;
  font-size: 20px;
  padding: 0 8px;
}

#skip-link a:not(:focus) {
  height: 1px;
  width: 1px;
  position: absolute;
  top: -60px;
}

a#header-brand {
  @apply flex;
}
