<!-- <pre>{{ post | json }}</pre> -->

<mat-card>
  <mat-card-header>
    <mat-card-title>{{ post.postName }}</mat-card-title>
    <mat-card-subtitle>{{ post.description }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <a
      mat-flat-button
      [href]="post.url"
      target="_blank"
      rel="noopener noreferrer"
      >Go to post</a
    >
    <button color="warn" mat-icon-button (click)="deletePost(post)">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-content>
</mat-card>
